
#head{
  background-color: #00d19d;
  color: #ffffff;
  text-align: left;
 
 }
#hid{
  width: 5rem;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 15px 10px 15px 10px;
  border-top-left-radius: 5px;


}
#htime{
  width: 200px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 15px 10px 15px 10px;
}
#hloca{
  width: 350px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 15px 10px 15px 10px;

} 
#hmag{
  width: 5rem;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 15px 10px 15px 10px;

}
#hmore{
  width: 5rem;
  border-right: #00d19d;
  border-bottom: 1px solid #ffffff;
  padding: 15px 10px 15px 10px;
  border-top-right-radius: 5px;


}